<footer >
<div class="foot">
        <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="f-info-brand">&copy; 2025 Airbnb, Inc.</div>
    <div class="f-info-links">
        <a href="/privacy">privacy</a>
        <a href="/terms">terms</a>
        <a href="/sitemap">Sitemap</a>
        <a href="/companyDetails">Company details</a>
    </div>
    </div>
</div>
    
</footer>